
<MudPaper Elevation="0" Class="my-4">
    <MudGrid Class="mx-1">
        <MudItem sm="6" xs="6" md="4" xl="2">
            <MudCard Elevation="0" Style="background:#1C7293;" Class="h-100">
                <MudCardHeader>
                    <CardHeaderContent>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent Class="d-flex justify-content-center">
                         <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Large" Style="color:white;"></MudIconButton>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem sm="6" xs="6" md="4" xl="2">
            <MudCard Elevation="0" Style="background:#1C7293;">
                <MudCardHeader>
                    <CardHeaderContent>
                        <div class="d-flex">
                            <MudText Typo="Typo.h6" Style="color:white;">1</MudText>
                            <MudSpacer />
                            <MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye" Style="color:white;"></MudIconButton>
                        </div>
                        <hr / style="color:white;">
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.h6" Style="color:white;">Nome</MudText>
                </MudCardContent>
                <hr / style="color:white;">
                <MudCardActions Class="d-flex justify-content-center">
                    <MudText Typo="Typo.h6" Style="color:white;">Valor</MudText>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {

}
