@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <div class="page mud-layout">
            <main>
                <div class="top-row px-4 w-100" style="background:#065A82;">
                    <MudImage Src="BRANCA.png" Width="100"></MudImage>
                    <h8 style="color:white;" class="ml-4 pt-2">Suporte</h8>
                    <MudSpacer/>
                    <MudChip Icon="@Icons.Material.Filled.Person" Color="Color.Dark">@context.User.Identity?.Name</MudChip>
                </div>
                    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Style="background:#ECEFF1;" Class="py-2">
                        @Body
                    </MudContainer>
            </main>
        </div>

    </Authorized>
    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
